<div style='background-color:white;color:black;'>

  <h1>Crear SirveEns</h1>
  <p>¡Registre las fechas en las que sirve!</p>
  <p>¡Nota: Ingresar el id del usuario directamente sobre url para visualizar las fechas por Ministerio</p>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <form class="animated bounceIn" (ngSubmit)="crearSirveEn(NuevoSirveEnForm)" #NuevoSirveEnForm="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Fecha de inicio</label>
            <input required type="date" class="form-control" placeholder="Fecha de inicio" name="fechaInicio" [(ngModel)]="nuevoSirveEn.fechaInicio">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Fecha de Fin</label>
            <input required type="date" class="form-control" placeholder="Fecha de Fin" name="fechaFin" [(ngModel)]="nuevoSirveEn.fechaFin">
          </div>

          <button type="submit" class="btn btn-success">Crear SirveEn</button>
          <br>

        </form>
      </div>
      <div class="col-sm-6">
        <h1>{{nuevoSirveEn.fechaInicio}}</h1>
        <h1>{{nuevoSirveEn.fechaFin}}</h1>

      </div>
    </div>
    <h1>Listar SirveEns</h1>
    <p>Revise, edite y borre a los sirveEns registrados</p>
    <div class="row">
      <div class="col-sm-4" *ngFor="let sirveEn of sirveEns">
        <h3 class="text-center"> ID: {{sirveEn.id}} </h3>
        <h3 class="text-center"> Fecha inicio:  {{sirveEn.fechaInicio}}</h3>
        <h3 class="text-center"> Fecha fin:  {{sirveEn.fechaFin}}</h3>

        <div [hidden]="!sirveEn.formularioCerrado">
          <button class="btn btn-block btn-danger" (click)="borrarSirveEn(sirveEn.id)"> Borrar</button>

          <br>

          <button class="btn btn-block btn-success" (click)="sirveEn.formularioCerrado=!sirveEn.formularioCerrado"> Editar</button>
        </div>
        <div [hidden]="sirveEn.formularioCerrado">
          <form class="animated bounceIn" (ngSubmit)="editarSirveEn(sirveEn)">
            <div class="form-group">
              <label for="exampleInputEmail1">Fecha inicio</label>
              <input required type="date" class="form-control" placeholder="Fecha de inicio" name="fechaInicio" [(ngModel)]="sirveEn.fechaInicio">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Fecha fin</label>
              <input required type="date" class="form-control" placeholder="Fecha de fin" name="fechaFin" [(ngModel)]="sirveEn.fechaFin">
            </div>

            <button type="submit" class="btn btn-success">Aceptar</button>
            <br>
            <button type="button" class="btn btn-warning" (click)="sirveEn.formularioCerrado=!sirveEn.formularioCerrado">Cancelar</button>

          </form>
        </div>

      </div>



    </div>



  </div>
</div>
