<h2>Crea un pokemon</h2>
<form action="/Pokemon/CrearPokemon" method="post">

    <div class="form-group">
        <label>Nombre Pokemon</label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre del Pokemon" name="nombre">
    </div>

    <div class="form-group">
        <label>Tipo Pokemon 1</label>
        <input type="text" class="form-control" placeholder="Ingrese tipo de pokemon"  name="tipoPokemon1">
    </div>

    <div class="form-group">
        <label>Tipo Pokemon 2</label>
        <input type="text" class="form-control" placeholder="Ingrese tipo de pokemon"  name="tipoPokemon2">
    </div>
    
    <div class="form-group">
        <label>Id Maestro Pokemon</label>
        <input type="text" class="form-control" placeholder="Ej: 1"  name="idPokemon">
    </div>

    <button type="submit" class="btn btn-success">Crear Pokemon ^.^</button>
</form>